.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* My personal Styles */
.nav-bar-left{
  padding-left: 30px !important;
}

.nav-bar-right{
  padding-right: 70px !important;
}

.nav-style{ /* Styling for the navbar */
  /* background: #61dafb; */
  background: #086c88af;
  color: #f6f8fa !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.nav-brand{
  font-style: italic;
  font-family: Lucida Grande;
  font-weight: bold;
  font-size: 24px !important;
}

/* .carousel{
  margin: 0px !important;
} */

.initial-div{
  height: 60px;
  background: #eaeef0;
}

.demarcation-div{
  background: #b7c4c9af;
  height: 60px;
}
